@font-face {
  font-family: 'Poppins';
  src: url('../../../public/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../../public/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

.media_player {
  position: relative;
  top: 100px;

  display: flex;
  margin: auto;

  font-family: 'Poppins', sans-serif;
  
  --white-50: rgba(255, 255, 255, 0.5);
  --black-50: rgba(0, 0, 0, 0.5);
}

video {
  width: 100%;
}

/* ********** OPTIONS ********** */
.options {
  position: absolute;
  top: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr) 1fr repeat(2, 1fr);
  grid-template-rows: 1fr 4fr 1fr 3.125rem;
  grid-template-areas: 
    ".              .              .              .              ."
    "box_previous   .              play_pause     .              box_next"
    ".              .              .              skip_intro     skip_intro"
    "footer_options footer_options footer_options footer_options footer_options";
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity ease-in 0.2s;
}