/* ********** FOOOTER OPTIONS ********** */
.footer_options {
  grid-area: footer_options;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0 1rem;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

button {
  height: 1.875rem;
  padding: 0px;
  background-color: #00000000;
  border: 0px;
}

button img {
  height: 100%;
}

/* ********** MUTED ********** */
button {
  position: relative;
  z-index: 1;
}
.muted {
  opacity: 0.5;
}

.volume {
  display: none;
  position: absolute;
  width: 130px;
  left: -157%;

  transform: rotate(-90deg) translateX(60%);
  -webkit-transform: rotate(-90deg) translateX(60%);
  -moz-transform: rotate(-90deg) translateX(60%);
}

button:hover .volume {
  display: block;
}

button .hover_volume {
  position: absolute;
  width: 30px;
  height: 40px;
  top: -20px;
  z-index: -1;
}

/* ********** CONTAINER PROGRESS BAR ********** */
.container-progress-bar {
  display: flex;
  align-items: center;
  column-gap: inherit;
  width: 100%;
  color: #ffffff;
}

.container-progress-bar span {
  width: 100%;
  max-width: 3.75rem;
  text-align: center;

  font-size: 0.875rem;
  font-weight: 400;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  width: inherit;
  height: 24px;
}

.progress {
  display: flex;
  align-items: center;
  width: inherit;
  max-height: 2px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
}

.pointer {
  position: relative;
  width: 14px;
  height: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
}

.onMinute {
  display: none;
  position: absolute;
  top: -30px;
  width: max-content;
  padding: 3px;
  padding-top: 4px;
  font-weight: 600;

  background-color: var(--black-50);
  border-radius: 2px;
}

.container:hover .onMinute {
  display: block;
}

.visible {
  display: block;
}

/* ********** SETTINGS ********** */
.box_settings {
  position: absolute;
  display: flex;
  visibility: hidden;
  flex-wrap: wrap;
  justify-content: center;
  left: 100%;

  margin: 0;
  padding: 0;

  border: 2px solid var(--white-50);
  transform: translate(-100%, -100%);
  list-style: none;
}

button:hover .box_settings {
  visibility: visible;
}

.box_settings > li {
  position: relative;
  padding: 0.5rem 1.25rem;
  width: 100%;

  color: #ffffff;

  border-bottom: 0.5px solid var(--white-50);
  background-color: var(--black-50);
}

.box_settings > li:last-child {
  border-bottom: 0px;
}

.box_settings > li:hover {
  background-color: var(--white-50);
}

/* SUB MENU */
.box_settings > li > ul {
  position: absolute;
  display: flex;
  visibility: hidden;
  flex-wrap: wrap;
  justify-content: center;
  top: 50%;
  left: -1px;

  margin: 0;
  padding: 0;

  border: 2px solid var(--white-50);
  transform: translate(-100%, -50%);
  list-style: none;
}

.box_settings > li:hover > ul {
  visibility: visible;
}

.box_settings > li > ul > li {
  padding: 0.5rem 1.25rem;
  width: 100%;

  color: #ffffff;

  border-bottom: 0.5px solid var(--white-50);
  background-color: var(--black-50);
}

.box_settings > li > ul > li:last-child {
  border-bottom: 0px;
}

.box_settings > li > ul > li:hover {
  background-color: var(--white-50);
}
