/* ********** FOOOTER OPTIONS ********** */
.footer_options {
  grid-area: footer_options;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0 1rem;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

button {
  height: 1.875rem;
  padding: 0px;
  background-color: #00000000;
  border: 0px;
}

button img {
  height: 100%;
}

/* ********** CONTAINER PROGRESS BAR ********** */
.container-progress-bar {
  display: flex;
  align-items: center;
  column-gap: inherit;
  width: 100%;
  color: #ffffff;
}

.container-progress-bar span{
  width: 100%;
  max-width: 3.75rem;
  text-align: center;

  font-size: 0.875rem;
  font-weight: 400;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  width: inherit;
  height: 24px;
}

.progress {
  display: flex;
  align-items: center;
  width: inherit;
  max-height: 2px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
}

.pointer {
  position: relative;
  width: 14px;
  height: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
}

.onMinute {
  display: none;
  position: relative;
  left: 50%;
  top: -30px;
  width: max-content;
  padding: 3px;
  padding-top: 4px;
  font-weight: 600;

  background-color: var(--black-50);
  border-radius: 2px;
  transform: translate(-50%);
}

.container:hover .onMinute {
  display: block;
}
